
.article-wrapper{
    margin-top: 80px;
    margin-bottom: 80px;
}
  
.article-title {
  padding: 10px;
  margin: var(--space-xs);
  font-weight: bold; /* 太字にする */
  color: var(--gray-75) /* タイトルの色を変更する */;
  text-align: center;
  background-color: var(--gray-10); /* タイトルの背景色 */
  border: 2px solid var(--gray-25); /* タイトルを囲む境界線 */
  border-radius: 5px; /* タイトルを囲む境界線の角を丸くする */
  }

  .article-meta {
    color: var(--gray-50);
    text-align: center;
  }
  
  .content {
    max-width: 90%;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: var(--body);
    line-height: 1.6;
    color: #333;
  }
  
  /* 見出しスタイル */
  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    padding-bottom: 8px;
    margin-top: 24px;
    margin-bottom: 16px;
    color: var(--gray-75);
    border-bottom: 2px solid var(--gray-75);
  }
  
  /* リンクスタイル */
  .content a {
    color: var(--accent);
    text-decoration: none;
    border-bottom: 1px solid var(--accent);
  }
  
  .content a:hover {
    color: var(--dark-accent);
    border-bottom-color: var(--dark-accent);
  }
  
  /* リストスタイル */
  .content ul,
  .content ol {
    margin-left: 20px;
  }
  
  /* 定義リストスタイル */
.content dl {
  padding: 10px; /* 枠線内の余白を設定 */
  margin-bottom: 20px;
  border: 1px solid var(--accent); /* 枠線のスタイルを追加 */
  border-radius: 5px; /* 枠線の角を丸める */
}

.content dt {
  font-size: var(--heading3);
  font-weight: bold;
}

.content dd {
  margin-bottom: 10px;
  margin-left: var(--space-md);
}

/* 追加部分 */
.content p {
  margin-bottom: 15px;
}

.content blockquote {
  padding-left: 15px;
  margin: 15px 0;
  color: var(--gray-50);
  border-left: 3px solid var(--accent);
}

.content hr {
  height: 1px;
  margin: 20px 0;
  background-color: var(--gray25);
  border: none;
}