.stack > * + * {
  margin-top: var(--stack-space, 1em);
}

.heading {
  font-size: var(--body);
}

@media (width < 768px) {
  .stack > * + * {
    display: none;
  }

  .heading {
    display: none;
  }
}