.wrapper {
  padding: var(--space-xl) 0;
  background-color: var(--gray-25);
}

.flex-container {
  /* stylelint-disable-next-line property-no-unknown */
  composes: side-by-side-center from './utils.module.css';
  gap: 2em;
}