.flex-container{
  /* stylelint-disable-next-line property-no-unknown */
  composes :space-between from './utils.module.css';
  border-bottom: 1px solid var(--gray-25); /* ボーダーラインのスタイル（色、太さなど）を調整できます */
}

@media (width < 768px) {
  .flex-container{
    /* stylelint-disable-next-line property-no-unknown */
    composes :side-by-side from './utils.module.css';
  }
}