.flex-container{
  /* stylelint-disable-next-line property-no-unknown */
  composes: side-by-side-center from './utils.module.css';
  display: flex;
  justify-content: flex-end;
  padding: var(--space-xs); /* 上下左右の余白調整 */
  margin-top: var(--space-xs);
  color: var(--gray-50); /* テキストの色を黒に変更 */
  text-align: center;
  border: 1px solid #ddd; /* 軽いボーダーを追加 */
  border-radius: 8px; /* 角を丸くする */
  box-shadow: 0 6px 12px rgb(0 0 0 / 10%); /* 影を追加して浮き出し感を持たせる */
}

.text {
  padding-top: calc(var(--display) * 0.2);
}

.title {
  margin-bottom: var(--space-xs); /* タイトルの下の余白調整 */
  font-size: var(--display);
  color: var(--accent); /* アクセントカラーをタイトルに適用 */
  letter-spacing: 0.02em; /* より細かい文字間隔に変更 */
}

.subtitle {
  margin-bottom: var(--space-xs); /* サブタイトルの下の余白調整 */
  font-size: var(--small-heading2);
}

.image-container {
  text-align: right;
}

.image {
  width: 60%;
  height: auto;
}

@media (width < 768px) {
  .image-container {
    display: none; /* 768px未満の場合は非表示にする */
  }
}