/* Nav.module.css */

.list {
  display: flex;
  gap: var(--space-md);
  margin-top: var(--space-xs);
  margin-right: var(--space-xl);
  margin-bottom: var(--space-xs);
  list-style: none;
}

.category-name {
  position: relative;
}

.sub-menu-wrapper {
  display: none;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #333;
}

.category-name:hover .sub-menu-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  width: max-content;
  padding-top: 0.5rem;
}

.sub-menu a {
  padding: 5px;
  color: #fff;
  text-decoration: none;
}

/* タップ可能なスタイル */
.category-name a {
  cursor: pointer;
}

.list a:hover {
  color: var(--accent);
}

/* タップ時のスタイル */
@media (hover: none) {
  .list a {
    -webkit-tap-highlight-color: transparent;
  }

  .list a:active {
    color: var(--accent);
  }

  .category-name:hover .sub-menu {
    transition-delay: 0s; /* ホバーからアニメーション開始までの遅延時間を無効化 */
  }
}
