.flex-container{
  /* stylelint-disable-next-line property-no-unknown */
  composes: side-by-side-center from './utils.module.css' 
}

.text {
  padding-top: calc(var(--display) * 0.2);
}

.title {
  font-size: var(--display);
  font-weight: 900;
  letter-spacing: 0.15em;
}

.subtitle {
  font-size: var(--small-heading2);
}

/* image */
.image{
  width:100%;
}

@media (width >=768px){
  .image{
    width: 50%;
  }
}