:root {
  /* カラー（色） */
  --white: #fff;
  --gray-10: #eee;
  --gray-25: #aaa;
  --gray-50: #707070;
  --gray-75: #444;
  --black: #222;
  --light-accent: #4caaed;
  --accent: #0d87e0;
  --dark-accent: #005580;

  /* タイポグラフィ（フォントサイズ） */
  --small-body: clamp(0.8rem, 0.95rem + 0.2vw, 1.0rem);
  --body: clamp(1.5rem, 0.95rem + 0.2vw, 2.0rem);
  --display: clamp(4.5rem, 1.83rem + 11.34vw, 7rem);
  --heading1: clamp(2rem, 1.3rem + 3vw, 3rem);
  --heading2: calc(var(--body) * 1.5);
  --heading3: calc(var(--body) * 1.2);
  --small-heading2: clamp(0.875rem, 4vw - 1rem, 1.6875rem);
  --small-heading3: calc(var(--small-heading2) * 0.86);

  /* スペース（余白・間隔） */
  --space-xs: clamp(1.25rem, 1rem + 0.98vw, 1.875rem);
  --space-sm: calc(var(--space-xs) * 1.5);
  --space-md: calc(var(--space-xs) * 2); 
  --space-lg: calc(var(--space-xs) * 3); 
  --space-xl: calc(var(--space-xs) * 4); 
  --space-jump: clamp(1.25rem, 0.35rem + 3.8vw, 3.75rem);
}

/* 基本設定 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: var(--body);
  color: var(--black);
}

h1 {
  font-size: var(--heading1);
}

h2 {
  font-size: var(--heading2);
}

h3 {
  font-size: var(--heading3);
}

/* next/image */
span > img {
  transition: 0.2s;
}

/* リセット */
body,
h1,
h2,
h3,
p,
figure,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}